.icon1 {
  width: 256px;
  height: 256px;
  color: #ccc;
  background: url('./images/1.png?__sprite') no-repeat;
  background-size: 256px 256px;
}
.icon2 {
  width: 100px;
  height: 100px;
  color: #ccc;
  background: url('./images/2.png?__sprite') no-repeat;
  background-size: 100px 100px;
}
